
@{
    Layout = "~/Areas/Error/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    <title>Technical Problem</title>
}

<h1>Some Technical Problem Occurred</h1>
<p>Our Team will resolve the issue soon... </p>
